In [57]:
from datetime import datetime
from pprint import pprint
from time import sleep
import csv
import locale
import numpy as np
import pandas as pd
import requests

In [45]:
#Creando Dataframe

archivo = "extraccion-clima-malaga.csv"

df_malaga = pd.read_csv(archivo, header = None)

In [46]:
archivo = "extraccion-clima-madrid.csv"

df_madrid = pd.read_csv(archivo, header = None)

In [47]:
archivo = "extraccion-clima-coruña.csv"

df_coruña = pd.read_csv(archivo, header = None)

In [48]:
#Unir los dataframes

df_total = pd.concat([df_malaga, df_madrid, df_coruña])

In [50]:
def limpiar_data(df):
    #Nombrar cabeceras
    columnas = ["Fecha", "Temp Max", "Temp Min", "Lluvia", "Tiempo", "Viento", "Ubicacion"]
    df.columns = columnas
    
    #Set Español para que datetime entienda los meses en español
    #locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')
    #Cambiar columna de fecha a tipo datetime
    df["Fecha"] = pd.to_datetime(df["Fecha"], format = "%d de %B %Y")
    
    #Modificacion para columna de lluvia
    #Eliminar mm
    df["Lluvia"] = df["Lluvia"].replace({"mm":""}, regex=True)
    #Eliminar espacios blancos
    df["Lluvia"] = df["Lluvia"].str.strip()
    #Reemplaza comas por puntos
    df["Lluvia"] = df["Lluvia"].replace({",":"."}, regex = True)
    #Convierte a float la columna lluvia
    df["Lluvia"] = df["Lluvia"].astype(float)
    
    #Modificacion para columna de vientos
    df["Viento"] = df["Viento"].replace({"Km/h":""}, regex=True)
    #Eliminar espacios blancos
    df["Viento"] = df["Viento"].str.strip()
    #Convierte a float la columna lluvia
    df["Viento"] = df["Viento"].astype(int)

In [51]:
limpiar_data(df_total)

In [52]:
df_total

,Fecha,Temp Max,Temp Min,Lluvia,Tiempo,Viento,Ubicacion
0,1 de enero 2023,18,13,0.0,Cielo cubierto,5,Málaga
1,1 de enero 2022,21,13,0.0,Despejado,5,Málaga
2,1 de enero 2021,12,9,0.4,Llovizna a intervalos,26,Málaga
3,1 de enero 2020,15,10,0.0,Parcialmente nublado,6,Málaga
4,1 de enero 2019,17,13,0.0,Parcialmente nublado,7,Málaga
...,...,...,...,...,...,...,...
1809,31 de diciembre 2023,11,9,3.5,Ligeras precipitaciones,36,A Coruña
1810,31 de diciembre 2022,17,15,0.2,Parcialmente nublado,43,A Coruña
1811,31 de diciembre 2021,20,12,0.0,Parcialmente nublado,17,A Coruña
1812,31 de diciembre 2020,10,7,16.1,Lluvias fuertes o moderadas,23,A Coruña
1813,31 de diciembre 2019,14,10,0.3,Nublado,10,A Coruña